{% extends 'adminpage/subject_overview.html' %}
{% load static %}
{% block subjects %}
    {% for subject in subjects %}
        <div class="collapse navbar-collapse" id="id_subject_overview_menu">
            <ul class="nav navbar-nav navbar-left" style="width:120px">
                <li style="float:left">
                    <a href="{% url 'stats:subject_overview' subject_pk=subject.pk %}" style="color:#337AB7;width:150px">
                        {{ subject }}
                    </a>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="id_nav_drop" style="width:-10px">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="id_menu_field" >
                        <span id="id_menu_dots" class="glyphicon glyphicon-option-vertical" style="color:#337AB7"></span>
                    </a>
                    <ul class="dropdown-menu" style="background-color:#383838">
                        <li ><a href="{% url 'adminpage:delete_subject' subject_pk=subject.pk %}" style="color:#337AB7">Delete</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}


{% block extension%}

    <div class="col-md-10">
        <div class="text-center">
            <h2>Welcome to the Statistics Page</h2>
            <br>
            <h4>Here you can see different statistics for the various subjects</h4>
            <br>
            <h4>Check it out by clicking on one of the subjects in the sidebar</h4>
            <br>
        </div>

        <div class="modal-body row">
            <div class="col-md-6 text-center">
                <img src="{% static 'stats/img/pic1.png'%}" style="width:80%; height:30vh">
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'stats/img/pic2.png'%}" style="width:80%; height:30vh">
            </div>
        </div>

    </div>

{% endblock %}

