{% extends 'my_subjects/subject_header.html' %}


{% block extension %}

<div class="col-md-10">
    <div style ="width:100%">
        <div style="float: left;">
            <h3> Exercises for {{ subject }} {{ chapter }} </h3>
        </div>


    </div>
    <table class="table table-striped">
        <!-- headlines to the columns in the table -->
        <thead>
            <tr>
                <th>Headline</th>
                <th>Explanation</th>
                <th>Easy</th>
                <th>Medium</th>
                <th>Hard</th>
            </tr>
        </thead>

        <!-- all the table-content -->
        <tbody>
            {% for connection in connections %}
                <tr>
                    <th scope="row"><a href="{% url 'my_subjects:exercise_view' chapter_pk=chapter.pk subject_pk=subject.pk exercise_pk=connection.exercise.pk %}">{{ connection.exercise.headline }}</a></th>
                    <td>{{ connection.exercise.explanation }}</td>

                    <!-- A way to check wich tasks the user has done in the exercises -->
                    <td>
                        <div>
                            {% if connection.completed_easy %}
                                Done
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div>
                            {% if connection.completed_medium %}
                                Done
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div>
                            {% if connection.completed_hard %}
                                Done
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </td>

                </tr>
            {% endfor%}

        </tbody>

    </table>

</div>
{% endblock%}

        <li><a href="{% url 'my_subjects:exercise_view' exercise_pk=exercise_page.pk chapter_pk=chapter.pk subject_pk=subject.pk %}"> {{ exercise_page.headline }} </a></li>
