{% extends 'my_subjects/subject_header.html' %}

{% block extension %}
    <!-- Page content -->
          <!-- Videoen på midten av siden, legg til siste del av youtube url der # er -->
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-16by9">

                 <!-- Plays youtube on the webpage and uses the youtube-id. allowsfuulscreen allows youtube to play in fullscreen -->
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{exercise.youtube_id}}" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div style="width:100%">
                <form method="POST" action=""> {% csrf_token %}
                    <div style="float: left; width:200px">
                        <br> <h6>Kommentar til oppgave: </h6>
                    </div>
                    <div style="float: right; width:100px%">
                        <br>
                        <input class="btn btn-xs btn-primary" type="submit" value="Send kommentar"/>
                    </div>
                    {{ comment_form.text }}
                </form>
            </div>
        </div>


        <!-- Oppgave buttons, med popup for hver enkelt -->
        <div class="col-md-4">

            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#LettOppgave" id="easyTask">Se lett oppgave</button>
            <!-- shows if you have answered correct to easy_question before -->
            {{ info_easy }}
            <form role="form" method="POST"> {% csrf_token %} <!-- says that the page is safe-->
            <div class="modal fade" id="LettOppgave">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times</button>
                            <h4 class="modal-title">Lett Oppgave</h4>
                        </div>
                            <div class="modal-body">
                                <div class="form group">
                                    <p>{{ exercise.easy_question }}?</p>
                                </div>
                                {{ form.as_p }}
                                </div>
                            <div class="modal-footer">
                            <button class="btn btn-primary btn-block" name="easy" type="submit">Sjekk Svar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-md-4">
            <br>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MiddelsOppgave">Se middels oppgave</button>
            <!-- shows if you have answered correct to medium_question before -->
            {{ info_medium }}
            <form role="form" method="POST"> {% csrf_token %} <!-- says that the page is safe-->
            <div class="modal fade" id="MiddelsOppgave">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times</button>
                            <h4 class="modal-title">Middels Oppgave</h4>
                        </div>

                            <div class="modal-body">
                                <div class="form group">
                                    <p> {{ exercise.medium_question }}</p>
                                </div>
                                {{ form.as_p }}
                            </div>

                            <div class="modal-footer">
                            <button class="btn btn-primary btn-block" name="medium">Sjekk Svar</button>
                        </div>

                        </div>
                    </div>

                </div>
             </form>
        </div>




        <div class="col-md-4">
            <br>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#VanskeligOppgave">Se vanskelig oppgave</button>
            <!-- shows if you have answered correct to hard_question before -->
            {{ info_hard }}
            <form role="form" method="POST"> {% csrf_token %} <!-- says that the page is safe-->
            <div class="modal fade" id="VanskeligOppgave">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times</button>
                            <h4 class="modal-title">Vanskelig Oppgave</h4>
                        </div>

                            <div class="modal-body">
                                <div class="form group">
                                    <p>{{ exercise.hard_question }}</p>
                                </div>
                                {{ form.as_p }}
                            </div>
                            <div class="modal-footer">
                            <button class="btn btn-primary btn-block" name="hard">Sjekk Svar</button>
                        </div>

                        </div>
                    </div>
                </div>
            </form>
            {% block extra %}
            {% endblock %}

        </div>
{% endblock %}