{% extends 'my_subjects/subject_header.html' %}

{% block extension %}
    <!-- Page content -->
          <!-- Videoen på midten av siden, legg til siste del av youtube url der # er -->
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-16by9">

                 <!-- Plays youtube on the webpage and uses the youtube-id. allowsfuulscreen allows youtube to play in fullscreen -->
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{exercise.youtube_id}}" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>

        <!-- Oppgave buttons, med popup for hver enkelt -->
        <div class="col-md-4">

            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#LettOppgave">Se lett oppgave</button>

            <div class="modal fade" id="LettOppgave">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times</button>
                            <h4 class="modal-title">Lett Oppgave</h4>
                        </div>

                            <div class="modal-body">
                            <form role="form">
                                <div class="form group">
                                    <p>Et eller annet spørsmål her; Hvorfor NYSIL?</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ditt svar">
                                </div>
                            </form>
                        </div>

                            <div class="modal-footer">
                            <button class="btn btn-primary btn-block">Sjekk Svar</button>
                        </div>

                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
            <br>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MiddelsOppgave">Se middels oppgave</button>

            <div class="modal fade" id="MiddelsOppgave">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times</button>
                            <h4 class="modal-title">Middels Oppgave</h4>
                        </div>

                            <div class="modal-body">
                            <form role="form">
                                <div class="form group">
                                    <p>Et eller annet spørsmål her; Hvorfor NYSIL?</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ditt svar">
                                </div>
                            </form>
                        </div>

                            <div class="modal-footer">
                            <button class="btn btn-primary btn-block">Sjekk Svar</button>
                        </div>

                        </div>
                    </div>

                </div>

        </div>
        <div class="col-md-4">
            <br>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#VanskeligOppgave">Se vanskelig oppgave</button>

            <div class="modal fade" id="VanskeligOppgave">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times</button>
                            <h4 class="modal-title">Vanskelig Oppgave</h4>
                        </div>

                            <div class="modal-body">
                            <form role="form">
                                <div class="form group">
                                    <p>Et eller annet spørsmål her; Hvorfor NYSIL?</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ditt svar">
                                </div>
                            </form>
                        </div>

                            <div class="modal-footer">
                            <button class="btn btn-primary btn-block">Sjekk Svar</button>
                        </div>

                        </div>
                    </div>
                </div>
        </div>
{% endblock %}