{% extends 'main/header.html' %}

{% block content %}

 <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar navbar-inverse">
              <li class="active"><a href="#"><h4>Kapitteloversikt</h4><span class="sr-only">(current)</span></a></li>

              <!-- a way to get all the chapter in the chosen subject -->
                {% for chapter in subject.chapter_set.all %}
                    <li><a href="{% url 'my_subjects:all_exercises_view' chapter_pk=chapter.pk subject_pk=chapter.subject.pk %}"> {{ chapter }}</a></li>
                {% endfor %}
          </ul>
        </div>

    {% block extension %}
    {% endblock %}
    </div>

    <!-- Menu toggle script, for å vise sidebar -->
    <script>
		$("#menu-toggle").click( function (e){
			e.preventDefault();
			$("#wrapper").toggleClass("menuDisplayed");
		});
	</script>

     {% block test %}
     {% endblock %}

</div>


{% endblock %}