<!DOCTYPE html>
<html lang="en">

<head>
	<title>NYSIL</title>
	<meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'adminpage/css/customize.css' %}" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'adminpage/img/n_favicon.png' %}" type="image/x-icon" />


	<!-- Latest compiled and minified CSS --><!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">



	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">


	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static 'main/css/header.css'%}" type = "text/css"/>
    {% block head_extend %}
    {% endblock %}
</head>
<!-- Layout til bakgrunnen til nettsiden -->
<body class="body" style="background-color: #E5E4E2;">

<div id="wrapper">

        <!-- Navbar på toppen -->
        <br>
        <br>
        <br>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

                <!-- Mobilvennelig, gjør om navbar til dropdown knapp når skjermen blir for liten
                 + knapp lengst til venstre som tar deg til forsiden -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
				    </button>
                    <a href="{% url 'main:index' %}" class="navbar-brand"><img src="{% static 'main/img/ny_logo.png'%}" style="width:100px;height:27px;margin-top:-4px;margin-left:-3px"></a>
                </div>

                <!-- Navbar items, samarbeider med collapse over gjennom id (data-target) -->
                <div class="collapse navbar-collapse" id="mainNavBar">
                    <ul class="nav navbar-nav">
                        <!--Ender slik at det ikke er dropdown og tar oss in på side med oversikt over fag-->
                        <!-- Dropdown meny for mine fag i navbaren -->
                        <li><a href="{% url 'adminpage:subject_overview' %}">Subjects</a></li>
                        <li><a href="{% url 'adminpage:tilbakemeldinger' %}">Feedback</a></li>
                        <li><a href="{% url 'stats:statistics_index'%}">Statistics</a></li>

                    </ul>



                    <!-- Knapp for innloggin, tar deg til innloggings app url -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Kontakt & Hjelp</a></li>
                        <li class="dropdown">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right: 15px">
                                    Welcome, Prof. {{user}}
                                    <span class="glyphicon glyphicon-option-vertical" style="width:2px;height:2px"></span></a>
                                <ul class="dropdown-menu">
                                    <!-- adds all the subjects to "My Subjects"-dropown -->
                                    <li><a href="{% url 'main:logout_user' %}">Logout</a></li>
                                </ul>
                            </li>
				        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </div>

    <!-- Block extend-files will use: -->
    {% block content %}
        <div class="container-fluid" style="text-align: center;">
            <div class="row">

                <h2>Welcome to the Adminpage</h2>
                <br>
                <div>As a NYSIL-professor, you have the possibility to create subjects. When you have created <br>
                the subject, you can add the subject's chapters. Under each chapter, there can be several videos <br>
                with following tasks. <br><br>
                When students finishes the videos and the tasks, you can reed their feedback and look at the <br>
                statistics to possibly improve your content. <br>
            </div>
        </div>



            </div>

                <div class="row" style="text-align: center; margin-top: 30px">
                    <button onclick="window.location.href='subjects';" style="padding: 50px 84px 50px 84px; background: #0080FF; border-radius: 4px; font-size: 18px; color: white" type="submit" class="btn btn">Subjects</button>

                    <button onclick="window.location.href='tilbakemeldinger';" style="padding: 50px 84px 50px 84px; background: #0080FF; border-radius: 4px; font-size: 18px; color: white" type="submit" class="btn btn">Feedback</button>

                    <button onclick="window.location.href='statistics';" style="padding: 50px 84px 50px 84px; background: #0080FF; border-radius: 4px; font-size: 18px; color: white" type="submit" class="btn btn">Statistics</button>
                </div>
            </div>
    {% endblock%}


</div>

<!-- Footer med linker til ulike sider, og også en kontakt & hjelp side -->
<footer id="footer">

</footer>

</body>