{% extends 'adminpage/tilbakemeldinger.html' %}

{% block extension %}

<div class="col-md-10">
    <div style ="width:90%">
        <div style="float: left; width: 50%">
            <h3> Kapitteloversikt for {{ subject }} </h3>
        </div>

        <div style="float: right; width: 0%">
            <!-- wrapped the "add_chapter"-button inside a block because we want to give the button some new
             functionality after it has been clicked -->
            {% block chapter %}
                <!-- Button that will send you to add_chapter-template -->
                <div id="add_chapter">
                    <a class="btn btn-large btn-success" href="{% url 'adminpage:new_chapter' subject_pk=subject.pk %}">Nytt kapittel</a>
                </div>
            {% endblock %}
        </div>

    </div>
    <table class="table table-striped">
        <!-- headlines to the columns in the table -->
        <thead>
            <tr>
                <th>Kapittel</th>
                <th>Navn</th>
                <th> Feedback </th>
            </tr>
        </thead>

        <!-- all the table-content -->
        <tbody>
            {% for chapter in subject.chapter_set.all %}
                <tr>
                    <th scope="row">{{ chapter.chapter_number }}</th>
                    <td> {{ chapter.chapter_name }}</td>
                    <td><div><a class="btn btn-xs btn-danger" href="{% url 'adminpage:chapter_feedback' subject_pk=subject.pk chapter_pk=chapter.pk %}">See Feedback</a></div></td>
                </tr>
            {% endfor%}

        </tbody>

    </table>

</div>
{% endblock%}