{% extends 'adminpage/subject_overview.html' %}

{% block extension %}
    <div class="col-md-10">

        <form method='POST'> {% csrf_token %}
                <div style="width:100%">
                    <div style="float: left; width: 80%">
                        {% block headline %}
                        <h4>{{ subject }} <span class="glyphicon glyphicon-arrow-right"></span> {{ chapter }} <span class="glyphicon glyphicon-arrow-right"></span> New exercise </h4>
                        {% endblock %}
                    </div>
                    <div style="float: right; 0%">
                        {% block button %}
                        <input class="btn btn-large btn-success" type="submit" value="Add Exercise"/>
                        {% endblock %}
                    </div>
                </div>


                <div class="col-md-4">

                    <label for="{{ form.youtube_id.id_for_label }}">Youtube ID: <h5>(youtube.com/watch?v=...ID...)</h5></label>
                    <div class="fieldWrapper" id="youtube_form">
                        {{ form.youtube_id }}
                    </div>
                    <br><br><br>


                    <label for="{{ form.easy_question.id_for_label }}">Easy question:</label>
                    <div class="fieldWrapper">
                        {{ form.easy_question }}
                    </div>

                    <label for="{{ form.easy_answer.id_for_label }}">Answer:</label>
                    <div class="fieldWrapper">
                        {{ form.easy_answer }}
                    </div>

                    <label for="{{ form.easy_points.id_for_label }}">Points:</label>
                    <div class="fieldWrapper">
                        {{ form.easy_points }}
                    </div>

                </div>

                <div class="col-md-4">
                    <br>
                    <label for="{{ form.headline.id_for_label }}">Title:</label>
                    <div class="fieldWrapper">
                        {{ form.headline }}
                    </div>
                    <br><br><br>


                    <label for="{{ form.medium_question.id_for_label }}">Medium question:</label>
                    <div class="fieldWrapper">
                        {{ form.medium_question }}
                    </div>

                    <label for="{{ form.medium_answer.id_for_label }}">Answer:</label>
                    <div class="fieldWrapper">
                        {{ form.medium_answer }}
                    </div>

                    <label for="{{ form.medium_points.id_for_label }}">Points:</label>
                    <div class="fieldWrapper">
                        {{ form.medium_points }}
                    </div>

                </div>

                <div class="col-md-4">
                    <br>
                    <label  for="{{ form.explanation.id_for_label }}">Explanation:</label>
                    <div class="fieldWrapper">
                        {{ form.explanation }}
                    </div>

                    <label for="{{ form.hard_question.id_for_label }}">Hard question:</label>
                    <div class="fieldWrapper">
                        {{ form.hard_question }}
                    </div>

                    <label for="{{ form.hard_answer.id_for_label }}">Answer:</label>
                    <div class="fieldWrapper">
                        {{ form.hard_answer }}
                    </div>

                    <label for="{{ form.hard_points.id_for_label }}">Points:</label>
                    <div class="fieldWrapper">
                        {{ form.hard_points }}
                    </div>

                </div>

        </form>
    </div>


{% endblock %}