{% extends 'adminpage/admin_header.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar navbar-inverse">
              <!-- This li takes us back to the subject_overvieq -->
              <li ><p id="id_fagoversikt"><h3 id="id_fagoversikt_text" style="color:#337AB7;margin-left:10px">Overview</h3><span class="sr-only">(current)</span></p></li>
              <p class="center-large" style="margin-left:20px"><a href="{% url 'adminpage:new_subject' %}"><span class="glyphicon glyphicon-plus"></span>  Add subject</a></p>
              <!-- a way to get all the chapter in the chosen subject -->
                {% for subject in subjects %}
                <div class="collapse navbar-collapse" id="id_subject_overview_menu">
                    <ul class="nav navbar-nav navbar-left" style="width:120px">
                      <li style="float:left">
                          <a href="{% url 'adminpage:chapters' subject_pk=subject.pk %}" style="color:#337AB7;width:150px">
                              {{ subject }}
                          </a>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="id_nav_drop" style="width:-10px">
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="id_menu_field" >
                                <span id="id_menu_dots" class="glyphicon glyphicon-option-vertical" style="color:#337AB7"></span>
                           </a>
                            <ul class="dropdown-menu" style="background-color:#383838">
                                <li ><a href="{% url 'adminpage:delete_subject' subject_pk=subject.pk %}" style="color:#337AB7">Delete</a></li>
                            </ul>
                        </li>
                    </ul>
                 </div>
                {% endfor %}

          </ul>
        </div>

    {% block extension %}
    <div class="container-fluid" style="text-align: center;">
      <div style="font-size: 30px">
        Welcome to the Feedback Page
      </div>
      <br>
      <div>
        Here you can see your students' feedback related to a video or it's given tasks
        <br>
        <br>
        Check it out by clicking on one of the subjects in the sidebar
      </div>
      <br>
    <div class="col-md-4" style="margin-left: 50px">
      <img src="{% static 'adminpage/img/feedback.png'%}" style="width: 380px; height: 200px">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <img src="{% static 'adminpage/img/graph.png'%}" style="width: 380px; height: 200px">
    </div>
    </div>
    {% endblock %}
    </div>



</div>
{% endblock%}