{% extends 'main/header.html' %}

{% load staticfiles %} 
{% block content %}
<div class="row" style="padding-top: 40px">
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
</div>
<div class="row" style="padding-top: 10px">
  <div class="col-md-3"></div>
  <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-16by9" style="height: 360px">

                 <!-- Plays youtube on the webpage and uses the youtube-id. allowsfuulscreen allows youtube to play in fullscreen -->
                <iframe style="border:10px solid #000; border-radius: 20px !important;" class="embed-responsive-item" src="http://www.youtube.com/embed/p60rN9JEapg?" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
  <div class="col-md-1" style="margin-left: 40px">
  </div>
  <div class="col-md-2">
  </div>
</div>

<div class="row" style="padding-top: 40px">
  <div class="col-md-12" style="text-align: center; font-size: 40px;">
  Some of our subjects:</div>
</div>
<div class="row" style="padding-top: 40px">
  <div class="col-md-3"></div>
  <div class="col-md-3">
  	<div class="panel panel-default" style="border-radius: 46px; height: 92px; background-color: #0094D0">
  		<img src="{% static 'main/img/calculator.png'%}" style="width: 90px; height: 90px">
  		Maths
  		<div class="panel-body"></div>
	</div>
	<br>
	<div class="panel panel-default" style="border-radius: 46px; height: 92px; background-color: #0094D0";>
  		<img src="{% static 'main/img/graphs.png'%}" style="width: 90px; height: 90px">
  		Statistics
  		<div class="panel-body"></div>
	</div>
  </div>
  <div class="col-md-3">
  	<div class="panel panel-default" style="border-radius: 46px; height: 92px; background-color: #0094D0">
  		<img src="{% static 'main/img/vessel.png'%}" style="width: 90px; height: 90px">
  		Chemistry
  		<div class="panel-body"></div>
	</div>
	<br>
	<div class="panel panel-default" style="border-radius: 46px; height: 92px; background-color: #0094D0">
  		<img src="{% static 'main/img/programming.png'%}" style="width: 90px; height: 90px">
  		Programming
  		<div class="panel-body"></div>
	</div>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row" style="padding-top: 50px">
	<div class="col-md-12" style="text-align: center; font-size: 40px" >
	How to use NYSIL:
	</div>
</div>
<div class="row" style="padding-top: 50px">
  <div class="col-md-2"></div>
  <div class="col-md-4">
  	<img src="{% static 'main/img/learn.png'%}" style="width:400px;height:150px;">
  </div>
  <div class="col-md-4">
  	Learn by Doing
  	<br>
  	Learn from watching short, and to the point, videos with upcoming relevant questions of different diffuculty in the subjects you follow. With support from expert educators and an enthusiastic community of learners, we garantuee you the most efficient learning.
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row" style="padding-top: 100px">
  <div class="col-md-2"></div>
  <div class="col-md-4">
  	Build Your Portfolio
  <br>
  By adding the subjects to your list, you can easily access them. Bla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla 
  </div>
  <div class="col-md-4">
  	<img src="{% static 'main/img/learn.png'%}" style="width:400px;height:150px;">
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row" style="padding-top: 100px">
  <div class="col-md-2"></div>
  <div class="col-md-4">
  	<img src="{% static 'main/img/learn.png'%}" style="width:400px;height:150px;">
  </div>
  <div class="col-md-4">
  	Achieve Your Goals
  	<br>
  	Answer as many of the questions to fill up your progress bar. Bla bla bla bla bla Bla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBl
  </div>
  <div class="col-md-2"></div>
</div>

{% endblock %}