<!DOCTYPE html>
<html lang="en">

<head>
	<title>NYSIL</title>
	<meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/customize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'my_subjects/css/customize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'progress/css/customize.css' %}" type="text/css">

	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Latest compiled and minified CSS --><!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">


	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static 'main/css/header.css'%}" type = "text/css"/>

</head>
<!-- Layout til bakgrunnen til nettsiden -->
<body class="body" style="background-color: #E5E4E2;">

<div id="wrapper">


        <!-- Navbar på toppen -->
        <br>
	<br>
	<br>
        <nav class="navbar navbar-inverse navbar-fixed-top" >
            <div class="container-fluid">

                <!-- Mobilvennelig, gjør om navbar til dropdown knapp når skjermen blir for liten
                 + knapp lengst til venstre som tar deg til forsiden -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
				    </button>
                    <a href="{% url 'main:index' %}" class="navbar-brand"><img src="{% static 'main/img/ny_logo.png'%}" style="width:100px;height:27px;margin-top:-4px;margin-left:-3px"></a>
                </div>

                <!-- Navbar items, samarbeider med collapse over gjennom id (data-target) -->
                <div class="collapse navbar-collapse" id="mainNavBar">
                    <ul class="nav navbar-nav">

                        <!-- Dropdown meny for mine fag i navbaren -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Subjects
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!-- adds all the subjects to "My Subjects"-dropown -->
                                {% for subject in user.userprofile.subjects.all %}
                                    <li><a href="{% url 'my_subjects:subject_view' subject.pk %}"> {{ subject.subject_code }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li style="margin-top: 8px">
                          <input id="search-input"  type="text" class="form-control" placeholder="Add subject ..."/>
                          <div id="main-results-search"></div>
                        </li>

                    </ul>

                    <!-- Knapp for innloggin, tar deg til innloggings app url -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- logout filed -->
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
                        <li><a href="{% url 'progress:my_progress' %}"><span class="glyphicon glyphicon-list-alt"></span> Progress</a></li>
                        {% block adminok %}<li><a href="{% url 'main:login_user' %}">Login</a></li>{% endblock %}
                    </ul>




                </div>

            </div>
        </nav>
        {% block content %}
            <div class="row" style="padding-top: 40px">
              <div class="col-md-2"></div>
              <div class="col-md-2"></div>
              <div class="col-md-2"></div>
              <div class="col-md-2"></div>
              <div class="col-md-2"></div>
              <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding-top: 10px">
              <div class="col-md-3"></div>
              <div class="col-sm-6">
                        <div class="embed-responsive embed-responsive-16by9" style="height: 360px">

                             <!-- Plays youtube on the webpage and uses the youtube-id. allowsfuulscreen allows youtube to play in fullscreen -->
                            <iframe style="border:10px solid #000; border-radius: 20px !important;" class="embed-responsive-item" src="http://www.youtube.com/embed/p60rN9JEapg?" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
              <div class="col-md-1" style="margin-left: 40px">
              </div>
              <div class="col-md-2">
              </div>
            </div>

            <div class="row" style="padding-top: 40px">
              <div class="col-md-12" style="text-align: center; font-size: 40px;">
              Some of our subjects:</div>
            </div>
            <div class="row" style="padding-top: 40px">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <div class="panel panel-default" style="border-radius: 46px; height: 92px; background-color: #0094D0">
                    <img src="{% static 'main/img/calculator.png'%}" style="width: 90px; height: 90px">
                    Maths
                    <div class="panel-body"></div>
                </div>
                <br>
                <div class="panel panel-default" style="border-radius: 46px; height: 92px; background-color: #0094D0";>
                    <img src="{% static 'main/img/graphs.png'%}" style="width: 90px; height: 90px">
                    Statistics
                    <div class="panel-body"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="panel panel-default" style="border-radius: 46px; height: 92px; background-color: #0094D0">
                    <img src="{% static 'main/img/vessel.png'%}" style="width: 90px; height: 90px">
                    Chemistry
                    <div class="panel-body"></div>
                </div>
                <br>
                <div class="panel panel-default" style="border-radius: 46px; height: 92px; background-color: #0094D0">
                    <img src="{% static 'main/img/programming.png'%}" style="width: 90px; height: 90px">
                    Programming
                    <div class="panel-body"></div>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
            <div class="row" style="padding-top: 50px">
                <div class="col-md-12" style="text-align: center; font-size: 40px" >
                How to use NYSIL:
                </div>
            </div>
            <div class="row" style="padding-top: 50px">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <img src="{% static 'main/img/learn.png'%}" style="width:400px;height:150px;">
              </div>
              <div class="col-md-4">
                Learn by Doing
                <br>
                Learn from watching short, and to the point, videos with upcoming relevant questions of different diffuculty in the subjects you follow. With support from expert educators and an enthusiastic community of learners, we garantuee you the most efficient learning.
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding-top: 100px">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                Build Your Portfolio
              <br>
              By adding the subjects to your list, you can easily access them. Bla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla
              </div>
              <div class="col-md-4">
                <img src="{% static 'main/img/learn.png'%}" style="width:400px;height:150px;">
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding-top: 100px">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <img src="{% static 'main/img/learn.png'%}" style="width:400px;height:150px;">
              </div>
              <div class="col-md-4">
                Achieve Your Goals
                <br>
                Answer as many of the questions to fill up your progress bar. Bla bla bla bla bla Bla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBla bla bla bla blaBl
              </div>
              <div class="col-md-2"></div>
            </div>
        {% endblock%}
                    <!-- Block extend-files will use: -->


        <div class="col-md-10 col-md-pull-1" id="sidebar_subjects">

        </div>

</div>





<!-- Footer med linker til ulike sider, og også en kontakt & hjelp side -->
<footer id="footer">
    <script>
        // Implement realtime search with `keyup` function.
        $('#search-input').keyup(function (event) {
          var query =($('#search-input').val());
          if (query != '' || query != ' ') {
            $.ajax({
               type: 'GET',
               url: '{% url "main:search" %}',
               data: {
                 'csrfmiddlewaretoken': '{{ csrf_token }}',
                 'q': query
               },
               success: function(data) {
                  $('#main-results-search').html(data);
               },
               error: function(data) {
                  console.log(data);
               }
             });
          }
        });
        // Removing the element after search
        // and when user clicked another/outside of this element below.
        $(document).click(function(event) {
          $is_inside = $(event.target).closest('#main-results-search').length;
          if( event.target.id == 'search-input' || $is_inside ) {
            return;
          }else {
            $('#results-search').remove();
          }
        });
  </script>
</footer>

</body>
