<!DOCTYPE html>
<html lang="en">

<head>
	<title>NYSIL</title>
	<meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/customize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'my_subjects/css/customize.css' %}" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Latest compiled and minified CSS --><!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">


	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static 'main/css/header.css'%}" type = "text/css"/>

</head>
<!-- Layout til bakgrunnen til nettsiden -->
<body class="body" style="background-color: #E5E4E2;">

<div id="wrapper">
    <div class="container-fluid" style="min-height:95%">
        <div class="row">
            <div class="col-sm-1">
            <!-- Interaktiv Logo, tar deg til hjemmesiden -->
            <div class="col-sm-3">
                <br>
                <center>
                    <a href="{% url 'main:index' %}">
                         <img src="{% static 'main/img/Logo.jpg'%}"  class="responsive-img" style='max-height: 60px;' alt="Responsive image">
                    </a>
                </center>
            </div>
        </div>
    </div>

        <!-- Navbar på toppen -->
        <br>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <!-- Mobilvennelig, gjør om navbar til dropdown knapp når skjermen blir for liten
                 + knapp lengst til venstre som tar deg til forsiden -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
				    </button>
                    <a href="{% url 'main:index' %}" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
                </div>

                <!-- Navbar items, samarbeider med collapse over gjennom id (data-target) -->
                <div class="collapse navbar-collapse" id="mainNavBar">
                    <ul class="nav navbar-nav">

                        <!-- Dropdown meny for mine fag i navbaren -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Subjects
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!-- adds all the subjects to "My Subjects"-dropown -->
                                {% for subject in user.userprofile.subjects.all %}
                                    <li><a href="{% url 'my_subjects:subject_view' subject.pk %}"> {{ subject.subject_code }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li style="margin-top: 8px">
                          <input id="search-input"  type="text" class="form-control" placeholder="Search for subject..."/>
                          <div id="main-results-search"></div>
                        </li>

                    </ul>

                    <!-- Knapp for innloggin, tar deg til innloggings app url -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- logout filed -->
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Progress</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu">
                                <!-- adds all the subjects to "My Subjects"-dropown -->

                                <li><a href="{% url 'adminpage:admin_index' %}">Admin</a></li>
                                <li><a href="{% url 'main:logout_user' %}">Logout</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'main:login_user' %}">{{user}}</a></li>

                                {% block adminok %}
                                {% endblock %}
                                <li><a href="{% url 'main:logout_user' %}">Logout</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'main:login_user' %}">Logg Inn</a></li>

                    </ul>
                    <!-- Searchfield for adding subjects to "My-subjects" -->


                </div>
            </div>
        </nav>
    </div>

    <!-- Block extend-files will use: -->
    {% block content %}
    {% endblock%}


</div>

<!-- Footer med linker til ulike sider, og også en kontakt & hjelp side -->
<footer id="footer">
    <script>
        // Implement realtime search with `keyup` function.
        $('#search-input').keyup(function (event) {
          var query =($('#search-input').val());
          if (query != '' || query != ' ') {
            $.ajax({
               type: 'GET',
               url: '{% url "main:search" %}',
               data: {
                 'csrfmiddlewaretoken': '{{ csrf_token }}',
                 'q': query
               },
               success: function(data) {
                  $('#main-results-search').html(data);
               },
               error: function(data) {
                  console.log(data);
               }
             });
          }
        });
        // Removing the element after search
        // and when user clicked another/outside of this element below.
        $(document).click(function(event) {
          $is_inside = $(event.target).closest('#main-results-search').length;
          if( event.target.id == 'search-input' || $is_inside ) {
            return;
          }else {
            $('#results-search').remove();
          }
        });
  </script>
</footer>

</body>